@model Vuelos.Entidades.Vuelo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vuelo</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aerolinea.NombreComercial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aerolinea.NombreComercial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaVuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaVuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadOrigen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CiudadDestino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CiudadDestino)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VueloID }) |
    @Html.ActionLink("Regresar a Lista", "Index")
</p>
