@model IEnumerable<Vuelos.ViewModels.VuelosGroup>

@{
    ViewBag.Title = "Resumen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    @Styles.Render("~/Graphics/basic.css")
    @Styles.Render("~/Graphics/visualize.css")
    @Styles.Render("~/Graphics/visualize-light.css")
}

<h2>Resumen</h2>

<table>
    <caption>Vuelos entre Enero y Marzo</caption>
    <thead>
        <tr>
            <td></td>
            <th scope="col">Enero</th>
            <th scope="col">Febrero</th>
            <th scope="col">Marzo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">LAN</th>
            <td>4</td>
            <td>5</td>
            <td>3</td>
        </tr>
        <tr>
            <th scope="row">Iberia</th>
            <td>6</td>
            <td>5</td>
            <td>8</td>
        </tr>
        <tr>
            <th scope="row">LCPeru</th>
            <td>2</td>
            <td>7</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">Avianca</th>
            <td>7</td>
            <td>3</td>
            <td>5</td>
        </tr>
        <tr>
            <th scope="row">Peruvian</th>
            <td>8</td>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>

@section Scripts{
    @Scripts.Render("~/Graphics/googleapi.jquery.min.js")
    @Scripts.Render("~/Graphics/visualize.js")    

    <script>
        $(function () {
            $("table").visualize();
        });
    </script>
}